{% extends 'indexmejorado/index.html' %}
{% block contenido %}
<form action= '/Buscar/' method='POST'>
  {%csrf_token%}
  <input type='text' name="name">
  <input type='submit' value='Enviar'>
</form>

{% if elements %}

<h1> Resultados </h1>

<table border>
  <tr>
    <th>Nombre completo</th>
    <th>Curso</th>
    <th>Profesor</th>
  </tr>
{% for element in elements %}
  <tr>
    <td>{{element.name}} {{element.secondname}} {{element.lastname}}</td>
    <td>{{element.curso}}</td>
    <td>{{element.profesor}}</td>
  </tr>
{% endfor %}

</table>

{% endif %}
{% endblock %}